---
import Base from '../layouts/base.astro'
const base = import.meta.env.BASE_URL;
---
<Base>
<main>
    <section>
        <h1>Sorry</h1>
        <p>
            We currently can't help you re-publish your science.
        </p>
        <p>
            Some of the services we relied on have changed and we don't have the capacity to adapt FreeYourScience to these changes right now.
        </p>
        <p>
            If you have any questions or would like to advance the cause of re-publication, please get in touch with us (<a href="mailto:team@freeyourscience.org">team@freeyourscience.org</a>).
        </p>
    </section>
</main>
</Base>
